title = "Account"
url = "/account"
layout = "default"
is_hidden = 0

[account]
redirect = "account-users"
paramCode = "code"

[session]
security = "all"
redirect = "s"
==
<div class="conteiner">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 ">

            Account template

            {% if user %}
            <p>Hello {{ user.name }}</p>
            {% else %}
            <p>Nobody is logged in</p>
            {% endif %}

            {% if user %}
            <a data-request="onLogout" data-request-data="redirect: '/good-by'">Sign out</a>
            {% endif %} 
            
            <hr />
            
            {% component 'account' %}

            {% if user %}
            <hr />
            <div class="row">
                <p>users</p>{{ user.name }}

            </div>

            {% else %}
            <hr />
            <div class="row">
                <p>masters</p>

            </div>
            {% endif %}
            
            
            <hr />
            
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

{% framework extras %}
{% scripts %}